/RNA_seq/S*
/Results/in*
/Results/kal*
/Output/SR*
/Output/CallbySpecies/cutoff_0.05/C*
/Output/CallbySpecies+devStage/Balanced/cutoff_0.05/C*
/Output/CallbySpecies+devStage/Balanced/qvalue/cutoff_0.01/C*
/Output/CallbySpecies+devStage/cutoff_0.01/C*
/Output/Summary/*
/Data/Drosophila_melanogaster_Annotation.chr.gtf
/Data/Drosophila_melanogaster_Transcriptome.cdna.all.fa









